@model Contact
<form method="post">
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="form-group">
                <label asp-for="first_name" class="control-label"></label>
                <input asp-for="first_name" class="form-control" />
                <span asp-validation-for="first_name" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="form-group">
                <label asp-for="last_name" class="control-label"></label>
                <input asp-for="last_name" class="form-control" />
                <span asp-validation-for="last_name" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6 mb-2 col-12">
            <div class="form-group">
                <label asp-for="work_email" class="control-label"></label>
                <input asp-for="work_email" class="form-control" />
                <span asp-validation-for="work_email" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6 mb-2 col-12">
            <div class="form-group">
                <label asp-for="personal_email" class="control-label"></label>
                <input asp-for="personal_email" class="form-control" />
                <span asp-validation-for="personal_email" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6 mb-2 col-12">
            <div class="form-group">
                <label asp-for="company" class="control-label"></label>
                <input asp-for="company" class="form-control" />
                <span asp-validation-for="company" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6 mb-2 col-12">
            <div class="form-group">
                <label asp-for="domain" class="control-label"></label>
                <input asp-for="domain" class="form-control" />
                <span asp-validation-for="domain" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6 mb-2 col-12">
            <div class="form-group">
                <label asp-for="job_title" class="control-label"></label>
                <input asp-for="job_title" class="form-control" />
                <span asp-validation-for="job_title" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6 mb-2 col-12">
            <div class="form-group">
                <label asp-for="job_level" class="control-label"></label>
                <input asp-for="job_level" class="form-control" />
                <span asp-validation-for="job_level" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6 mb-2 col-12">
            <div class="form-group">
                <label asp-for="job_department" class="control-label"></label>
                <input asp-for="job_department" class="form-control" />
                <span asp-validation-for="job_department" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6 mb-2 col-12">
            <div class="form-group">
                <label asp-for="work_phone" class="control-label"></label>
                <input asp-for="work_phone" class="form-control" />
                <span asp-validation-for="work_phone" class="text-danger"></span>
            </div>
        </div>










        <div class="col-md-6 mb-2 col-12">
            <div class="form-group">
                <label asp-for="street1" class="control-label"></label>
                <input asp-for="street1" class="form-control" />
                <span asp-validation-for="street1" class="text-danger"></span>
            </div>
        </div>




        <div class="col-md-6 mb-2 col-12">
            <div class="form-group">
                <label asp-for="city" class="control-label"></label>
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6 mb-2 col-12">
            <div class="form-group">
                <label asp-for="state" class="control-label"></label>
                <input asp-for="state" class="form-control" />
                <span asp-validation-for="state" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6 mb-2 col-12">
            <div class="form-group">
                <label asp-for="zip" class="control-label"></label>
                <input asp-for="zip" class="form-control" />
                <span asp-validation-for="zip" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6 mb-2 col-12">
            <div class="form-group">
                <label asp-for="country" class="control-label"></label>
                <input asp-for="country" class="form-control" />
                <span asp-validation-for="country" class="text-danger"></span>
            </div>
        </div>



        <div class="col-md-6 mb-2 col-12">
            <div class="form-group">
                <label asp-for="company_revenue" class="control-label"></label>
                <input asp-for="company_revenue" class="form-control" />
                <span asp-validation-for="company_revenue" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6 mb-2 col-12">
            <div class="form-group">
                <label asp-for="company_employee_count" class="control-label"></label>
                <input asp-for="company_employee_count" class="form-control" />
                <span asp-validation-for="company_employee_count" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6 mb-2 col-12">
            <div class="form-group">
                <label asp-for="linkedin_url" class="control-label"></label>
                <input asp-for="linkedin_url" class="form-control" />
                <span asp-validation-for="linkedin_url" class="text-danger"></span>
            </div>
        </div>



        <div class="col-md-6 mb-2 col-12">
            <div class="form-group">
                <label asp-for="naics_code" class="control-label"></label>
                <input asp-for="naics_code" class="form-control" />
                <span asp-validation-for="naics_code" class="text-danger"></span>
            </div>
        </div>



        <div class="col-md-6 mb-2 col-12">
            <div class="form-group">
                <label asp-for="company_sector" class="control-label"></label>
                <input asp-for="company_sector" class="form-control" />
                <span asp-validation-for="company_sector" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6 mb-2 col-12">
            <div class="form-group">
                <label asp-for="company_industry" class="control-label"></label>
                <input asp-for="company_industry" class="form-control" />
                <span asp-validation-for="company_industry" class="text-danger"></span>
            </div>
        </div>






        <div class="col-12 d-flex justify-content-end mb-2">
            <button type="submit" class="btn btn-primary" asp-controller="Contract" asp-action="index">Save</button>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
